@define-color bg0        rgba(11, 12, 13, 0.5);
@define-color bg1        #282828;
@define-color ws_foc     #504945;
@define-color font       #ffc94a;
@define-color clock-font #a2bab1;
@define-color mpd        #fbf1c7;
@define-color pipe       #7d818a;

window#waybar {
  background-color: @bg0;
}
* {
  min-height: 0px;
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 600;
  padding-bottom: 2px;
  padding-top: 2px;
}
#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  font-family: Sans;
  font-weight: 600;
  color: @clock-font;
  background-color: @bg1;
  border-radius: 8px;
}
window#waybar.empty #window {
  background-color: @bg0;
}
/* center module */
#clock {
  background-color: @bg1;
  color: @clock-font;
  margin: 0px;
  padding: 10px 10px 10px 30px;
  border-radius: 0px 8px 8px 0px;
}

/* right module */
#pulseaudio,
#bluetooth,
#network,
#disk,
#memory,
#cpu,
#backlight,
#battery,
#temperature {
  color: @font;
  margin: 2px 0px 2px 0px;
  padding: 0px 8px 0px 8px;
  background-color: @bg1;
  padding-top: 2px;
  padding-bottom: 2px;
}
#pulseaudio {
  border-radius: 8px 0px 0px 8px;
  padding-left: 10px;
}
#tray,
#custom-power {
  color: @font;
  margin: 2px 0px 2px 0px;
  padding: 0px 2px 0px 2px;
  background-color: @bg1;
  color: #bf616a;
  padding-top: 2px;
  padding-bottom: 2px;
}

#workspaces {
  border-radius: 20px;
  padding: 1px 25px 1px 25px;
  font-family: Sans;
  font-weight: 600;
  color: @clock-font;
  background-color: @bg1;
}

#workspaces button {
  background: #407479;
  color: @clock-font;
  padding: 0px 8px;
  margin: 2px 3px;
  border-width: 2px;
  border-color: @bg1;
  border-radius: 20px;
  border-style: none none none none;
  opacity: 0.5;
}

#workspaces button.active {
  background: #254979;
  border-width: 2px;
  border-color: #cc241d;
  padding: 3px 15px 3px 15px;
  color: @clock-font;
  border-radius: 20px;
  border-style: none none outset none;
  opacity: 1.0;
}

#workspaces button.urgent {
}

#custom-left_pad {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 2px 0px 2px;
  margin: 2px 0px 2px 2px;
  background-color: @bg1;
}

#custom-right_pad {
  border-radius: 8px 8px 8px 8px;
  padding: 0px 2px 0px 2px;
  margin: 2px 2px 2px 0px;
  background-color: @bg1;
}
#custom-pipe {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: @bg1;
  color: @pipe;
}

#mpd {
  color: @mpd;
}
#pulseaudio {
  color: #fb4934;
}
#bluetooth {
  color: #fe8019;
}
#network {
  color: #fabd2f;
}
#disk {
  color: #ebdbb2;
}
#memory {
  color: #b8bb26;
}
#cpu {
  color: #8ec07c;
}
#backlight {
  color: #83a598;
}
#battery {
  color: #d3869b;
}
#custom-power {
  color: #fb4934;
}
#temperature {
    padding-right: 25px;
}
