[user]
	email = jto@ivu.de
	name = Jonas Toth
[gpg]
	program = gpg2

[core]
    pager = delta

[pager]
    blame = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    wrap-max-lines = unlimited

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[pull]
	ff = only
